<!DOCTYPE html>
<html lang="en">
<head>
<Style>
body { background-color:yellow;
}
h1{ color:red;
text-align:center;
				}
				p{ font-family:verdana;
				font-size:20px;
								}
</Style>
    
</head>
<body>
    <h1>project 2</h1>
    <h3>iam Sandhya</h3>
    <p>prgm using css code...!</p>
</body>
</html>
